$primarycolour: #5f24ef;
$scecolour: #1c0e3e;
$gradiantcolour: linear-gradient(
    45deg, #08bbf6 0%, #6122ef 63%);
    $sidecolour: #08baf6;
    $titlecolour:#564a73;
    $subcolour:#1a115e;



    $sectiongap: 100px;
    $sectionpadding: 50px;